.margin {
    margin-bottom: 50px;
}

.margin-top {
    padding: 30px;
}

#shadowebu {
    transition: 0.3s;
    text-shadow: 0 0 5px #FFF, 0 0 10px rgb(8, 94, 223), 0 0 15px #FFF, 0 0 20px #187cff, 0 0 30px #188fff, -8px -7px 19px rgba(0, 119, 255, 0.98);
}

#shadowebu:hover {
    font-size: 16.5px;
    transition: 0.3s;
}

#fonted {
    transition: 0.3s;
}

#fonted:hover {
    transition: 0.3s;
    font-size: 16.5px;
}

#projects-link {
    transition: 0.3s;
}

#projects-link:hover {
    transition: 0.3s;
    font-size: 16.5px;
}